.navBar {
  background-color: dodgerblue;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navBar ul {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  user-select: none;
  margin-left: 20px;
}

.navBar a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.homeButton {
  height: 3rem;
  width: max-content;
  padding: 0.6rem;
  margin: auto;
}

.homeButton:hover {
  background-color: rgb(23, 109, 196);
}

.counter {
  display: flex;
  cursor: pointer;
  user-select: none;
  height: 3rem;
  margin-right: 20px;
  align-items: baseline;
}

.counter > img {
  height: 2rem;
  width: 2rem;
  margin: auto;
}

.counter > div {
  font-size: 1.2rem;
  color: #fff;
  margin: auto;
}

.dropdownButton {
  background-color: dodgerblue;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  margin: auto;
  height: 3rem;
  padding: 0.6rem;
}

.dropdownButton:hover {
  background-color: rgb(23, 109, 196);
}

.dropdownContent a:hover {
  background-color: rgb(23, 109, 196);
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(23, 109, 196);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: dodgerblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  display: flex;
  padding: 0.6rem;
}

.dropdownContent a:hover {
  background-color: rgb(23, 109, 196);
}

.dropdown:hover .dropdownContent {
  display: block;
}

